@charset 'UTF-8';

/* resset
--------------------------------------------------- */
* {
    box-sizing: border-box;
}

/* typo
----------------------------------------------------- */

body {
    color: #333333;
    font-family: ab-tsubaki, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    font-feature-settings: "palt";
    padding: 0;
    margin: 0;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}
  
img {
    vertical-align: bottom;
    max-width: 100%;
}
  
ul {
    list-style: none;
}

/* utility
-------------------------------------------------- */
.d-flex {
    display: flex;
}

/* layout
--------------------------------------------------- */
  