@charset 'UTF-8';

/* resset
--------------------------------------------------- */
* {
    box-sizing: border-box;
}

/* typo
----------------------------------------------------- */

body {
    color: #333333;
    font-family: ab-tsubaki, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    font-feature-settings: "palt";
    padding: 0;
    margin: 0;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}
  
img {
    vertical-align: bottom;
    max-width: 100%;
}
  
ul {
    list-style: none;
}

img {
    display: block;
}

/* utility
-------------------------------------------------- */
.d-flex {
    display: flex;
}

.c-font {
    font-family: 'Noto Sans JP', sans-serif;
}

/* layout
--------------------------------------------------- */
  
/* global navigation bar */
/* 共通部分 nav -------------------------------*/
.g-nav {
    background-color: #44b5ae;
    width: 20vw;
    height: 100vh;
    position: relative;
    z-index: 10000;
}

.nav-logo {
    padding: 14px 5px ;
}

nav li {
    width: 20vw;
    /* padding: 14px; */
    border-top: 1px solid #008080;
    letter-spacing: 2px;
    cursor: pointer;
}

.grade {
    width: 100%;
}

.grade3 {
    border-bottom: #008080 1px solid;
}

.grade a{
    color: #fff;
    display: block;
    width: 100%;
    padding: 14px;

}

.grade a:hover{
    background-color: #fff;
    color: #44b5ae;
}

/* 共通部分nav ここまで ---------------------------------- */
/* top-page
----------------------------------- */
.top-page {
    background-color: #66ccff;  
    overflow: hidden;
    height: 100vh;
    width: 80vw;
}

.top-logo,
.top-cat {
    width: 100%;
    justify-content: center;
}

.top-logo img{
    width: 50%;
    margin-top: 40px;
}

.left-cloud img{
    position: relative;
    top: 100px;
    width: 250px;
}

.right-cloud {
    top: 90px;
    justify-content: end;
}

.top-cat img{
    position: fixed;
    bottom: 0;
    height: 500px;
}

.addition img {
    position: absolute;
    right: 170px;
    top: -380px;
}
 
.subtraction img {
    position: absolute;
    left: 100px;
    top: -180px;
}

.multiplication img {
    position: absolute;
    right: 40px;
    top: -60px;
}

.division img {
    position: absolute;
    left: 200px;
    top: -390px;
}

/* +-×÷ふわふわアニメーション
----------------------------------------------- */

@keyframes fuwafuwa {
    0% {
      transform:translate(0, 0) ;
    }
    50% {
      transform:translate(0, -10px) ;
    }
    100% {
      transform:translate(0, 0) ;
    }
}

.fuwafuwa {
    animation: fuwafuwa 2s infinite ease-in-out .8s alternate;
    transition: 1.5s ease-in-out;
}

@keyframes yurayura {
    0% {
      transform:translate(0, 0) ;
    }
    50% {
      transform:translate(0, 10px) ;
    }
    100% {
      transform:translate(0, 0) ;
    }
}

.yurayura {
    animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
    transition: 1.5s ease-in-out;
}


/* スタート画面
------------------------------------------------------ */
.page-ttl {
    color: #fff;
    font-size: 70px;
    letter-spacing: 20px;
    justify-content: center;
}

.yellow {
    color: #ffdd79;
    font-size: 100px;
    justify-content: center;
}

.main-txt {
    justify-content: center;
}

.main-txt p {
    background-color: #fff;
    padding: 30px;
    width: 300px;
    border-radius: 40px;
}

.left-cloud-start img{
    position: relative;
    top: -100px;
    width: 250px;
}

.right-cloud-start {
    justify-content: end;
    top: -600px;
}

.start-cat {
    width: 14%;
    position: absolute;
    bottom: 30%;
    left: 40%;
}

.start-btn {
    justify-content: center;
}

.btn--start,
a.btn--start {
  color: #fff;
  font-size: 44px;
  text-align: center;
  width: 40%;
  background-color: #e86c5d;
  padding: 20px 40px;
  position: absolute;
  bottom: 16%;
}

.bottom-cloud {
    justify-content: end;
    height: 90px;
    position:fixed;
    bottom: 0;
    right: 70px;
}

/* 問題ページ
-------------------------------------------------- */
.test-page {
    width: 80vw;
    overflow-y: scroll;
    margin-left: 20px;
}

.test-ttl {
    font-size: 40px;
}

.test-description {
    letter-spacing: 2px;
}

.question {
    margin-top: 40px;
}

.q-txt {
    font-size: 18px;
}


.answer label {
    padding-right: 20px;
    font-size: 14px;
}

.number {
    font-size: 22px;
    padding-right: 5px;
    font-weight: bold;
}

.text-question {
    letter-spacing: 2px;
}

.complete {
    margin: 60px 0;
    justify-content: center;
}

.btn--complete,
a.btn--complete {
  color: #fff;
  font-size: 20px;
  background-color: #e86c5d;
  padding: 18px 40px;
}

footer img {
    margin-top: 40px;
}

















/* 結果画面
----------------------------------------------- */
/* 100点レイアウトここから */

.confetti {
	position: absolute;
	width: 100%;
	height: 100%;
}

.confetti span {
	position: absolute;
	top: -10%;
	left: 0;
	width: 1.5vw;
	height: 1vw;
	background: #FFF;
}

/* add animation */
.confetti span:nth-child(2n+1) {
	animation: confetti-anim-1 10s 0s linear infinite;
}

.confetti span:nth-child(2n+2) {
	animation: confetti-anim-2 10s 0s linear infinite;
}

/* side position */
.confetti span:nth-child(1) {
	left: 0%;
}

.confetti span:nth-child(2) {
	left: 2%;
}

.confetti span:nth-child(3) {
	left: 4%;
}

.confetti span:nth-child(4) {
	left: 6%;
}

.confetti span:nth-child(5) {
	left: 8%;
}

.confetti span:nth-child(6) {
	left: 10%;
}

.confetti span:nth-child(7) {
	left: 12%;
}

.confetti span:nth-child(8) {
	left: 14%;
}

.confetti span:nth-child(9) {
	left: 16%;
}

.confetti span:nth-child(10) {
	left: 18%;
}

.confetti span:nth-child(11) {
	left: 20%;
}

.confetti span:nth-child(12) {
	left: 22%;
}

.confetti span:nth-child(13) {
	left: 24%;
}

.confetti span:nth-child(14) {
	left: 26%;
}

.confetti span:nth-child(15) {
	left: 28%;
}

.confetti span:nth-child(16) {
	left: 30%;
}

.confetti span:nth-child(17) {
	left: 32%;
}

.confetti span:nth-child(18) {
	left: 34%;
}

.confetti span:nth-child(19) {
	left: 36%;
}

.confetti span:nth-child(20) {
	left: 38%;
}

.confetti span:nth-child(21) {
	left: 40%;
}

.confetti span:nth-child(22) {
	left: 42%;
}

.confetti span:nth-child(23) {
	left: 44%;
}

.confetti span:nth-child(24) {
	left: 46%;
}

.confetti span:nth-child(25) {
	left: 48%;
}

.confetti span:nth-child(26) {
	left: 50%;
}

.confetti span:nth-child(27) {
	left: 52%;
}

.confetti span:nth-child(28) {
	left: 54%;
}

.confetti span:nth-child(29) {
	left: 56%;
}

.confetti span:nth-child(30) {
	left: 58%;
}

.confetti span:nth-child(31) {
	left: 60%;
}

.confetti span:nth-child(32) {
	left: 62%;
}

.confetti span:nth-child(33) {
	left: 64%;
}

.confetti span:nth-child(34) {
	left: 66%;
}

.confetti span:nth-child(35) {
	left: 68%;
}

.confetti span:nth-child(36) {
	left: 70%;
}

.confetti span:nth-child(37) {
	left: 72%;
}

.confetti span:nth-child(38) {
	left: 74%;
}

.confetti span:nth-child(39) {
	left: 76%;
}

.confetti span:nth-child(40) {
	left: 78%;
}

.confetti span:nth-child(41) {
	left: 80%;
}

.confetti span:nth-child(42) {
	left: 82%;
}

.confetti span:nth-child(43) {
	left: 84%;
}

.confetti span:nth-child(44) {
	left: 86%;
}

.confetti span:nth-child(45) {
	left: 88%;
}

.confetti span:nth-child(46) {
	left: 90%;
}

.confetti span:nth-child(47) {
	left: 92%;
}

.confetti span:nth-child(48) {
	left: 94%;
}

.confetti span:nth-child(49) {
	left: 96%;
}

.confetti span:nth-child(50) {
	left: 98%;
}

/* colors */
.confetti span:nth-child(5n+1) {
	background: red;
}

.confetti span:nth-child(5n+2) {
	background: blue;
}

.confetti span:nth-child(5n+3) {
	background: green;
}

.confetti span:nth-child(5n+4) {
	background: pink;
}

.confetti span:nth-child(5n+5) {
	background: yellow;
}


/* animation-duration */
.confetti span:nth-child(4n+1) {
	animation-duration: 5s;
}

.confetti span:nth-child(4n+2) {
	animation-duration: 12s;
}

.confetti span:nth-child(4n+3) {
	animation-duration: 8s;
}

.confetti span:nth-child(4n+4) {
	animation-duration: 6s;
}


/* animation-delay */
.confetti span:nth-child(11n+1) {
	animation-delay: 0s;
}

.confetti span:nth-child(11n+2) {
	animation-delay: 9s;
}

.confetti span:nth-child(11n+3) {
	animation-delay: 2s;
}

.confetti span:nth-child(11n+4) {
	animation-delay: 5s;
}

.confetti span:nth-child(11n+5) {
	animation-delay: 6s;
}

.confetti span:nth-child(11n+6) {
	animation-delay: 7s;
}

.confetti span:nth-child(11n+7) {
	animation-delay: 3s;
}

.confetti span:nth-child(11n+8) {
	animation-delay: 1s;
}

.confetti span:nth-child(11n+9) {
	animation-delay: 2s;
}

.confetti span:nth-child(11n+10) {
	animation-delay: 11s;
}

.confetti span:nth-child(11n+11) {
	animation-delay: 10s;
}

/* animation */

@keyframes confetti-anim-1 {
	0% {
		top: -10%;
		transform: translateX(0) rotateX(0) rotateY(0);
	}

	100% {
		top: 100%;
		transform: translateX(20vw) rotateX(180deg) rotateY(360deg);
	}
}

@keyframes confetti-anim-2 {
	0% {
		top: -10%;
		transform: translateX(0) rotateX(0) rotateY(0);
	}

	100% {
		top: 100%;
		transform: translateX(-20vw) rotateX(180deg) rotateY(360deg);
	}
}

.score100 {
    background-color: #ffdd79;  
    overflow: hidden;
    height: 100vh;
    width: 80vw;
}

.score-result {
    justify-content: center;
}

.score {
    color: #fff;
    font-size: 50px;
}

.red {
    color: #e86c5d;
    font-size: 100px;
}
.feedback {
    justify-content: center;
}

.feedback-txt {
    background-color: #fff;
    padding: 30px;
    width: 300px;
    border-radius: 40px;
}
.cat100 {
    justify-content: center;
}

.cat100 img{
    position: fixed;
    bottom: 0;
    height: 400px;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #e86c5d;
  padding: 18px 24px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

a.btn--radius {
   border-radius: 100vh;
}
